@import "https://fonts.googleapis.com/css?family=Baloo+Bhai";

body {
  background-image: url(../image/antarctic_bg.jpg);
  font-family: "Baloo Bhai", cursive;
  background-size: cover;
}

header {
  animation: ani 2s 1;
}

nav {
  visibility: hidden;
  transition: all 0.5s ease 3s;
  animation: ani 2s 3s 1 forwards;
}

@keyframes ani {
  0% {
    transform: scale(0);
    visibility: hidden;
  }

  100% {
    transform: scale(1);
    visibility: visible;
  }
}

h1 {
  text-shadow: 0 0 2px #ffffff;
  font-size: 60px;
  text-align: center;
}

.title>h1 span i {
  animation-name: letter0;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes letter0 {
  0% {
    color: white;
    text-shadow: 0 0 4px #000000;
  }

  5% {
    color: black;
  }
}

.title>h1 span:nth-child(1) {
  animation-name: letter1;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes letter1 {
  5% {
    color: white;
    text-shadow: 0 0 4px #000000;
  }

  10% {
    color: black;
  }
}

.title>h1 span:nth-child(2) {
  animation-name: letter2;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes letter2 {
  10% {
    color: black;
  }

  15% {
    color: white;
    text-shadow: 0 0 4px #000000;
  }

  20% {
    color: black;
  }
}

.title>h1 span:nth-child(3) {
  animation-name: letter3;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes letter3 {
  15% {
    color: black;
  }

  20% {
    color: white;
    text-shadow: 0 0 4px #000000;
  }

  25% {
    color: black;
  }
}

.title>h1 span:nth-child(4) {
  animation-name: letter4;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes letter4 {
  20% {
    color: black;
  }

  25% {
    color: white;
    text-shadow: 0 0 4px #000000;
  }

  30% {
    color: black;
  }
}

.title>h1 span:nth-child(5) {
  animation-name: letter5;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes letter5 {
  25% {
    color: black;
  }

  30% {
    color: white;
    text-shadow: 0 0 4px #000000;
  }

  35% {
    color: black;
  }
}

.title>h1 span:nth-child(6) {
  animation-name: letter6;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes letter6 {
  30% {
    color: black;
  }

  35% {
    color: white;
    text-shadow: 0 0 4px #000000;
  }

  40% {
    color: black;
  }
}

.title>h1 span:nth-child(7) {
  animation-name: letter7;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes letter7 {
  35% {
    color: black;
  }

  40% {
    color: white;
    text-shadow: 0 0 4px #000000;
  }

  45% {
    color: black;
  }
}

.title>h1 span:nth-child(8) {
  animation-name: letter8;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes letter8 {
  40% {
    color: black;
  }

  45% {
    color: white;
    text-shadow: 0 0 4px #000000;
  }

  50% {
    color: black;
  }
}

.title>h1 span:nth-child(9) {
  animation-name: letter9;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes letter9 {
  45% {
    color: black;
  }

  50% {
    color: white;
    text-shadow: 0 0 4px #000000;
  }

  55% {
    color: black;
  }
}

.title>h1 span:nth-child(10) {
  animation-name: letter10;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes letter10 {
  50% {
    color: black;
  }

  55% {
    color: white;
    text-shadow: 0 0 4px #000000;
  }

  60% {
    color: black;
  }
}

.title {
  margin: 70px;
}

#index_img {
  clip-path: circle(50% at 50% 50%);
  width: 170px;
  height: 170px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrap_menu {
  background: rgba(216, 216, 216, 0.2);
  text-align: center;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.geography, .form {
  margin-left: 20px;
}

.index, .geography, .wildlife, .form {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:link {
  text-decoration: none;
}

nav a:visited {
  text-decoration: none;
}

nav a:hover {
  right: 0px;
  opacity: 0.7;
  color: #fff;
}

nav a:focus {
  text-decoration: none;
}

nav a:active {
  text-decoration: none;
}

header a {
  text-decoration: none;
  color: black;
}

header a:link {
  text-decoration: none;
}

header a:visited {
  text-decoration: none;
}

header a:hover {
  right: 0px;
  opacity: 0.9;
  color: #000;
}

header a:focus {
  text-decoration: none;
}

header a:active {
  text-decoration: none;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:link {
  text-decoration: none;
}

footer a:visited {
  text-decoration: none;
}

footer a:hover {
  right: 0px;
  opacity: 0.7;
  color: #fff;
}

footer a:focus {
  text-decoration: none;
}

footer a:active {
  text-decoration: none;
}

nav .index span {
  position: relative;
  font-size: 50px;
}

nav .geography span {
  position: relative;
  font-size: 50px;
}

nav .wildlife span {
  position: relative;
  font-size: 50px;
}

nav .form span {
  position: relative;
  font-size: 50px;
}

.footer {
  width: 100%;
  margin-top: 200px;
  float: left;
  font-size: 25px;
}

.footer a {
  margin-left: 10px;
}

.footer i {
  font-size: 40px;
}

.footer_ {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
  margin: 15px;
  background: rgba(255, 255, 255, 0.4);
}

#wiki {  
  clip-path: circle(50% at 50% 50%);
  width: 50px;
  height: 50px;
}

@media all and (min-width:500px) and (max-width:768px) {
  @keyframes wrap_ani {
    0% {
      margin-left: auto;
      margin-right: auto;
    }

    25% {
      margin-left: 21%;
    }

    100% {
      margin-left: 60%;
    }
  }

  .wrap_menu {
    background: rgba(216, 216, 216, 0.2);
    text-align: center;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .geography, .form {
    margin-left: 0px;
  }

  .index, .geography, .wildlife, .form {
    display: block;
  }

  nav #br {
    display: none;
  }

  nav .index span {
    position: relative;
    font-size: 50px;
  }

  nav .geography span {
    position: relative;
    font-size: 50px;
  }

  nav .wildlife span {
    position: relative;
    font-size: 50px;
  }

  nav .form span {
    position: relative;
    font-size: 50px;
  }
}

@media all and (min-width:320px) and (max-width:500px) {
  #index_img {
    clip-path: circle(50% at 50% 50%);
    width: 125px;
    height: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  header h1 {
    font-size: 24.4px;
  }

  .wrap_menu {
    background: rgba(216, 216, 216, 0.2);
    text-align: center;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .geography, .form {
    margin-left: 0px;
  }

  .index, .geography, .wildlife, .form {
    display: inline-block;
  }

  nav .index span {
    position: relative;
    font-size: 50px;
  }

  nav .geography span {
    position: relative;
    font-size: 50px;
  }

  nav .wildlife span {
    position: relative;
    font-size: 50px;
  }

  nav .form span {
    position: relative;
    font-size: 50px;
  }

  .footer {
    font-size: 15px;
  }
}
